
/*
static
relative
fixed
absolute
sticky
*/
body{
    margin: 0;
}

header{
    background-color: #F0F;
    position: static;
    width:100%;
}

header img{
    float: left;
}

/* navigering */
nav{
    background-color: greenyellow;
    position: static;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

nav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #555;
  color: white;
}

/* Sektioner och artiklar */
section{
    background-color: hotpink;
    width:60%;
    float: left;
}
article{
    background-color: indianred;
    width: 60%;
    float: left;
}
aside{
    background-color: lightgreen;
    width:40%;
    float: right;
}
footer{
    background-color: mediumturquoise;
    clear: left;
}




/* Tabellspecifik css */
table{
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
}

table{
    width: 100%;
}

th{
    height: 50px;
    background-color: #F0F;
    color: white;
}

td, th{
    text-align: left;
    padding: 5px;
}

tr:hover{
    background-color: #f5f5f5;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
